<!-- .block-banner -->
<div class="block block-banner">
    <div class="container">
        <a routerLink="{{'blockBanner.redirect' | translate}}" class="block-banner__body">
            <div class="block-banner__image block-banner__image--desktop" style="background-image: url('assets/images/banners/banner-store.png')"></div>
            <div class="block-banner__image block-banner__image--mobile" style="background-image: url('assets/images/banners/banner-1-mobile.jpg')"></div>
            <div class="block-banner__title"><br class="block-banner__mobile-br"> {{'blockBanner.title' | translate}}</div>
            <div class="block-banner__text">{{'blockBanner.description' | translate}}
                <strong>{{'blockBanner.strong' | translate}}</strong></div>
            <div class="block-banner__button">
                <span class="btn btn-sm btn-primary">{{'blockBanner.button' | translate}}</span>
            </div>
        </a>
    </div>
</div>
<!-- .block-banner / end -->
