<app-page-header [header]="'account.title' | translate" [breadcrumbs]="[
    {label: 'home.title' | translate,  url: root.home()},
    {label: 'account.title' | translate, url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="card flex-grow-1 mb-md-0">
                    <div class="card-body">
                        <h3 class="card-title">{{'account.login.title' | translate}}</h3>
                        <form class="row">
                            <div class="form-group col-md-12">
                                <label>{{'account.login.email' | translate}}</label>
                                <input type="email" class="form-control" placeholder="{{'account.login.email' | translate}}">
                            </div>
                            <div class="form-group col-md-12">
                                <label>{{'account.login.password' | translate}}</label>
                                <input type="password" class="form-control" placeholder="{{'account.login.password' | translate}}">
                                <small class="form-text text-muted">
                                    <a href="">{{'account.login.forgotPassword' | translate}}</a>
                                </small>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="form-check">
                                    <span class="form-check-input input-check">
                                        <span class="input-check__body">
                                            <input class="input-check__input" type="checkbox" id="login-remember">
                                            <span class="input-check__box"></span>
                                            <app-icon class="input-check__icon" name="check-9x7" size="9x7"></app-icon>
                                        </span>
                                    </span>
                                    <label class="form-check-label" for="login-remember">{{'account.login.rememberMe' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">{{'account.login.button' | translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex mt-4 mt-md-0">
                <div class="card flex-grow-1 mb-0">
                    <div class="card-body">
                        <h3 class="card-title">{{'account.register.title' | translate}}</h3>
                        <form class="row">
                            <div class="form-group col-md-6">
                                <label>{{'account.register.firstName' | translate}}</label>
                                <input type="email" class="form-control" placeholder="{{'account.register.firstName' | translate}}">
                            </div>
                            <div class="form-group col-md-6">
                                <label>{{'account.register.lastName' | translate}}</label>
                                <input type="email" class="form-control" placeholder="{{'account.register.lastName' | translate}}">
                            </div>
                            <div class="form-group col-md-12">
                                <label>{{'account.register.email' | translate}}</label>
                                <input type="email" class="form-control" placeholder="{{'account.register.email' | translate}}">
                            </div>
                            <div class="form-group col-md-12">
                                <label>{{'account.register.password' | translate}}</label>
                                <input type="password" class="form-control" placeholder="{{'account.register.password' | translate}}">
                            </div>
                            <div class="form-group col-md-12">
                                <label>{{'account.register.repeatPassword' | translate}} </label>
                                <input type="password" class="form-control" placeholder="{{'account.register.repeatPassword' | translate}}">
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">
                                {{'account.register.button' | translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
