<app-page-header [header]="'cart.title' | translate" [breadcrumbs]="[
    {label: 'home.title' | translate,          url: root.home()},
    {label: 'cart.title' | translate, url: ''}
]"></app-page-header>

<div class="block block-empty" *ngIf="!items.length">
    <div class="container">
        <div class="block-empty__body">
            <div class="block-empty__message">{{'cart.empty' | translate}}</div>
            <div class="block-empty__actions">
                <a [routerLink]="root.home()" class="btn btn-primary btn-sm">{{'cart.continueShopping' | translate}}</a>
            </div>
        </div>
    </div>
</div>

<div class="cart block" *ngIf="items.length">
    <div class="container">
        <table class="cart__table cart-table">
            <thead class="cart-table__head">
            <tr class="cart-table__row">
                <th class="cart-table__column cart-table__column--image">{{'cart.image' | translate}}</th>
                <th class="cart-table__column cart-table__column--product">{{'cart.product' | translate}}</th>
                <th class="cart-table__column cart-table__column--price">{{'cart.price' | translate}}</th>
                <th class="cart-table__column cart-table__column--quantity">{{'cart.quantity' | translate}}</th>
                <th class="cart-table__column cart-table__column--total">{{'cart.total' | translate}}</th>
                <th class="cart-table__column cart-table__column--remove"></th>
            </tr>
            </thead>
            <tbody class="cart-table__body">
            <tr *ngFor="let item of items" class="cart-table__row">
                <td class="cart-table__column cart-table__column--image">
                    <div *ngIf="item.cartItem.product.images?.length" class="product-image">
                        <a [routerLink]="root.product(item.cartItem.product)" class="product-image__body">
                            <img class="product-image__img" [src]="item.cartItem.product.images[0]" alt="">
                        </a>
                    </div>
                </td>
                <td class="cart-table__column cart-table__column--product">
                    <a [routerLink]="root.product(item.cartItem.product)" class="cart-table__product-name">{{ item.cartItem.product.name }}</a>
                    <ul *ngIf="item.cartItem.options.length" class="cart-table__options">
                        <li *ngFor="let option of item.cartItem.options">{{ option.name }}: {{ option.value }}</li>
                    </ul>
                </td>
                <td class="cart-table__column cart-table__column--price" data-title="Price">{{ item.cartItem.product.price|currencyFormat }}</td>
                <td class="cart-table__column cart-table__column--quantity" data-title="Quantity">
                    <app-input-number [formControl]="item.quantityControl" [min]="1"></app-input-number>
                </td>
                <td class="cart-table__column cart-table__column--total" data-title="Total">{{ item.cartItem.product.price * item.quantity|currencyFormat }}</td>
                <td class="cart-table__column cart-table__column--remove">
                    <button type="button" class="btn btn-light btn-sm btn-svg-icon" (click)="remove(item.cartItem)" [ngClass]="{'btn-loading': removedItems.includes(item.cartItem)}">
                        <app-icon name="cross-12" size="12"></app-icon>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="cart__actions">
            <form class="cart__coupon-form">
                <label for="input-coupon-code" class="sr-only">{{'cart.couponLabel' | translate}}</label>
                <input type="text" class="form-control" id="input-coupon-code" placeholder="{{'cart.couponLabel' | translate}}">
                <button type="submit" class="btn btn-primary">{{'cart.couponButton' | translate}}</button>
            </form>
            <div class="cart__buttons">
                <a routerLink="/" class="btn btn-light">{{'cart.continueShopping' | translate}}</a>
                <button type="button" class="btn btn-primary cart__update-button" (click)="update()" [ngClass]="{'btn-loading': updating}" [disabled]="!needUpdate()">{{'cart.updateCart' | translate}}</button>
            </div>
        </div>

        <div class="row justify-content-end pt-5">
            <div class="col-12 col-md-7 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title d-none">Cart Totals</h3>

                        <table class="cart__totals">
                            <thead *ngIf="(cart.totals$|async).length" class="cart__totals-header">
                            <tr>
                                <th>{{'cart.subtotal' | translate}}</th>
                                <td>{{ cart.subtotal$|async|currencyFormat }}</td>
                            </tr>
                            </thead>
                            <tbody *ngIf="(cart.totals$|async).length" class="cart__totals-body">
                            <tr *ngFor="let total of cart.totals$|async">
                                <th *ngIf="total.inExtend === extendCart">{{ total.title }}</th>
                                <td *ngIf="total.inExtend === extendCart">
                                    {{ total.price|currencyFormat }}
                                    <div *ngIf="total.type === 'shipping1'" class="cart__calc-shipping">
                                        <a href="" (click)="extendCart = true; $event.preventDefault()">{{ 'cart.extendCart' | translate}}</a></div>
                                </td>
                            </tr>
                            <!--<tr *ngIf="extendCart">
                                <th></th>
                                <td>
                                    <div class="cart__calc-shipping">
                                        <a href="" (click)="extendCart = false; $event.preventDefault()">{{ 'cart.reduceCart' | translate}}</a></div>
                                </td>
                            </tr>-->
                            </tbody>
                            <tfoot class="cart__totals-footer">
                            <tr>
                                <th>{{ 'cart.total' | translate}}</th>
                                <td>{{ cart.total$|async|currencyFormat }}</td>
                            </tr>
                            </tfoot>
                        </table>
                        <a class="btn btn-primary btn-xl btn-block cart__checkout-button" routerLink="./checkout">{{ 'cart.proceedCheckout' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
