<app-page-header [header]="'checkout.title' | translate" [breadcrumbs]="[
    {label: 'home.title' | translate,  url: root.home()},
    {label: 'cart.title' | translate,  url: root.cart()},
    {label: 'checkout.title' | translate, url: root.checkout()}
]"></app-page-header>

<div class="checkout block">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <app-alert type="primary" size="lg">{{'checkout.isCustomer' | translate}} <a [routerLink]="root.login()">{{'checkout.goLogin' | translate}}</a></app-alert>
            </div>

            <div class="col-12 col-lg-6 col-xl-7">
                <div class="card mb-lg-0">
                    <div class="card-body">
                        <h3 class="card-title">Billing details</h3>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="checkout-first-name">First Name</label>
                                <input type="text" class="form-control" id="checkout-first-name" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="checkout-last-name">Last Name</label>
                                <input type="text" class="form-control" id="checkout-last-name" placeholder="Last Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="checkout-company-name">Company Name <span class="text-muted">(Optional)</span></label>
                            <input type="text" class="form-control" id="checkout-company-name" placeholder="Company Name">
                        </div>
                        <div class="form-group">
                            <label for="checkout-country">Country</label>
                            <select id="checkout-country" class="form-control">
                                <option>Select a country...</option>
                                <option>United States</option>
                                <option>Russia</option>
                                <option>Italy</option>
                                <option>France</option>
                                <option>Ukraine</option>
                                <option>Germany</option>
                                <option>Australia</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="checkout-street-address">Street Address</label>
                            <input type="text" class="form-control" id="checkout-street-address" placeholder="Street Address">
                        </div>
                        <div class="form-group">
                            <label for="checkout-address">Apartment, suite, unit etc. <span class="text-muted">(Optional)</span></label>
                            <input type="text" class="form-control" id="checkout-address">
                        </div>
                        <div class="form-group">
                            <label for="checkout-city">Town / City</label>
                            <input type="text" class="form-control" id="checkout-city">
                        </div>
                        <div class="form-group">
                            <label for="checkout-state">State / County</label>
                            <input type="text" class="form-control" id="checkout-state">
                        </div>
                        <div class="form-group">
                            <label for="checkout-postcode">Postcode / ZIP</label>
                            <input type="text" class="form-control" id="checkout-postcode">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="checkout-email">Email address</label>
                                <input type="email" class="form-control" id="checkout-email" placeholder="Email address">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="checkout-phone">Phone</label>
                                <input type="text" class="form-control" id="checkout-phone" placeholder="Phone">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                    <span class="form-check-input input-check">
                                        <span class="input-check__body">
                                            <input class="input-check__input" type="checkbox" id="checkout-create-account">
                                            <span class="input-check__box"></span>
                                            <svg class="input-check__icon" width="9px" height="7px"><use xlink:href="assets/images/sprite.svg#check-9x7"></use></svg>
                                        </span>
                                    </span>
                                <label class="form-check-label" for="checkout-create-account">Create an account?</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-divider"></div>
                    <div class="card-body">
                        <h3 class="card-title">Shipping Details</h3>

                        <div class="form-group">
                            <div class="form-check">
                                    <span class="form-check-input input-check">
                                        <span class="input-check__body">
                                            <input class="input-check__input" type="checkbox" id="checkout-different-address">
                                            <span class="input-check__box"></span>
                                            <svg class="input-check__icon" width="9px" height="7px"><use xlink:href="assets/images/sprite.svg#check-9x7"></use></svg>
                                        </span>
                                    </span>
                                <label class="form-check-label" for="checkout-different-address">Ship to a different address?</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="checkout-comment">Order notes <span class="text-muted">(Optional)</span></label>
                            <textarea id="checkout-comment" class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                <div class="card mb-0">
                    <div class="card-body">
                        <h3 class="card-title">Your Order</h3>

                        <table class="checkout__totals">
                            <thead class="checkout__totals-header">
                            <tr>
                                <th>Product</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody class="checkout__totals-products">
                            <tr *ngFor="let item of cart.items$|async">
                                <td>{{ item.product.name }} × {{ item.quantity }}</td>
                                <td>{{ item.product.price * item.quantity|currencyFormat }}</td>
                            </tr>
                            </tbody>
                            <tbody *ngIf="(cart.totals$|async).length" class="checkout__totals-subtotals">
                            <tr>
                                <th>Subtotal</th>
                                <td>{{ cart.subtotal$|async|currencyFormat }}</td>
                            </tr>
                            <tr *ngFor="let total of cart.totals$|async">
                                <th>{{ total.title }}</th>
                                <td>{{ total.price|currencyFormat }}</td>
                            </tr>
                            </tbody>
                            <tfoot class="checkout__totals-footer">
                            <tr>
                                <th>Total</th>
                                <td>{{ cart.total$|async|currencyFormat }}</td>
                            </tr>
                            </tfoot>
                        </table>

                        <div class="payment-methods">
                            <ul class="payment-methods__list">
                                <li class="payment-methods__item payment-methods__item--active">
                                    <label class="payment-methods__item-header">
                                            <span class="payment-methods__item-radio input-radio">
                                                <span class="input-radio__body">
                                                    <input class="input-radio__input" name="checkout_payment_method" type="radio" checked>
                                                    <span class="input-radio__circle"></span>
                                                </span>
                                            </span>
                                        <span class="payment-methods__item-title">Direct bank transfer</span>
                                    </label>
                                    <div class="payment-methods__item-container">
                                        <div class="payment-methods__item-description text-muted">
                                            Make your payment directly into our bank account. Please use your Order ID as the payment
                                            reference. Your order will not be shipped until the funds have cleared in our account.
                                        </div>
                                    </div>
                                </li>
                                <li class="payment-methods__item">
                                    <label class="payment-methods__item-header">
                                            <span class="payment-methods__item-radio input-radio">
                                                <span class="input-radio__body">
                                                    <input class="input-radio__input" name="checkout_payment_method" type="radio">
                                                    <span class="input-radio__circle"></span>
                                                </span>
                                            </span>
                                        <span class="payment-methods__item-title">Check payments</span>
                                    </label>
                                    <div class="payment-methods__item-container">
                                        <div class="payment-methods__item-description text-muted">
                                            Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
                                        </div>
                                    </div>
                                </li>
                                <li class="payment-methods__item">
                                    <label class="payment-methods__item-header">
                                            <span class="payment-methods__item-radio input-radio">
                                                <span class="input-radio__body">
                                                    <input class="input-radio__input" name="checkout_payment_method" type="radio">
                                                    <span class="input-radio__circle"></span>
                                                </span>
                                            </span>
                                        <span class="payment-methods__item-title">Cash on delivery</span>
                                    </label>
                                    <div class="payment-methods__item-container">
                                        <div class="payment-methods__item-description text-muted">
                                            Pay with cash upon delivery.
                                        </div>
                                    </div>
                                </li>
                                <li class="payment-methods__item">
                                    <label class="payment-methods__item-header">
                                            <span class="payment-methods__item-radio input-radio">
                                                <span class="input-radio__body">
                                                    <input class="input-radio__input" name="checkout_payment_method" type="radio">
                                                    <span class="input-radio__circle"></span>
                                                </span>
                                            </span>
                                        <span class="payment-methods__item-title">PayPal</span>
                                    </label>
                                    <div class="payment-methods__item-container">
                                        <div class="payment-methods__item-description text-muted">
                                            Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="checkout__agree form-group">
                            <div class="form-check">
                                    <span class="form-check-input input-check">
                                        <span class="input-check__body">
                                            <input class="input-check__input" type="checkbox" id="checkout-terms">
                                            <span class="input-check__box"></span>
                                            <svg class="input-check__icon" width="9px" height="7px"><use xlink:href="assets/images/sprite.svg#check-9x7"></use></svg>
                                        </span>
                                    </span>
                                <label class="form-check-label" for="checkout-terms">
                                    I have read and agree to the website <a target="_blank" [routerLink]="root.terms()">terms and conditions</a>*
                                </label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-xl btn-block">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
