/*
// .nav-panel
*/
@import '../variables';
@import '../functions';
@import '../mixins/direction';


.nav-panel {
    height: $nav-panel-height;
    // background: $nav-panel-bg;
    background: url('../../assets/images/bg-store.png') no-repeat;
    background-size: 100%;
    box-shadow: $nav-panel-shadow;
    color: $nav-panel-font-color;
    will-change: position;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}
.nav-panel--stuck {
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
    transform: translateY(-150%);
    transition: transform .3s ease-in-out;
}
.nav-panel--shown {
    transform: translateY(0);
}
.nav-panel__container {
    height: 100%;
}
.nav-panel__row {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}
.nav-panel__logo svg {
    display: block;
    fill: $nav-panel-logo-color;
}
.nav-panel__departments {
    flex-shrink: 0;
}
.nav-panel__logo + .nav-panel__nav-links,
.nav-panel__departments + .nav-panel__nav-links {
    @include direction {
        #{$margin-inline-start}: 18px;
    }
}
.nav-panel__nav-links {
    @include direction {
        #{$margin-inline-end}: 4px;
    }
}
.nav-panel__indicators {
    display: flex;
    height: 100%;

    @include direction {
        #{$margin-inline-start}: auto;
    }
}


@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
    .nav-panel__logo + .nav-panel__nav-links,
    .nav-panel__departments + .nav-panel__nav-links {
        @include direction {
            #{$margin-inline-start}: 14px;
        }
    }
}
