// -------------------------
// --- You can add your custom CSS here and it will overwrite template styles.
// -------------------------


.small, small {
    font-size: 12px !important;
    font-weight: 400;
}
