<!-- .block-brands -->
<div class="block-brands" *ngIf="brands?.length" [ngClass]="showTitle ? 'block' : 'pt-2'">
    <div class="container" *ngIf="showCarousel">
        <div class="block-header" *ngIf="showTitle">
            <h3 class="block-header__title">Nuestras Marcas</h3>
            <div class="block-header__divider"></div>
        </div>
        <div class="block-brands__slider no-border" #container>
            <owl-carousel-o [options]="carouselOptions" appOwlPreventClick>
                <ng-template *ngFor="let brand of brands" carouselSlide>
                    <div class="block-brands__item">
                        <a [routerLink]="root.brand(brand)"><img [src]="brand.image" class="img-brand" [alt]="brand.name"></a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
<hr class="mt-0" *ngIf="!showTitle">
<!-- .block-brands / end -->
